.App {
    text-align: center;
    background-color: #121212;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-header {
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
